<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Wechat</string>
		<key>url</key>
		<string>weixin://com.wx.test?viewId=letters</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Settings</string>
		<key>url</key>
		<string>prefs:</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Evernote</string>
		<key>url</key>
		<string>evernote://</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>VPN</string>
		<key>url</key>
		<string>prefs:root=General&amp;path=Network/VPN</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>AppStore</string>
		<key>url</key>
		<string>appstore://</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Safari</string>
		<key>url</key>
		<string>safari://</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ</string>
		<key>url</key>
		<string>mqq:// </string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DoubanFM</string>
		<key>url</key>
		<string>doubanradio:// </string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Weico</string>
		<key>url</key>
		<string>weico:// </string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alipay</string>
		<key>url</key>
		<string>alipay:// </string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>YoudaoDict</string>
		<key>url</key>
		<string>yddictproapp:// </string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>ZhiHu</string>
		<key>url</key>
		<string>zhihu://</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>NetEasyNews</string>
		<key>url</key>
		<string>newsapp://</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
</plist>
